DATABASE_URL=postgresql://meetingbot:supersecret@postgres:5432/meetingbotpoc
ASSEMBLYAI_API_KEY=722e8a6104664e7aa9f3e6e8836113e6
GOOGLE_ACCOUNT_USER=onixai.bot@gmail.com
GOOGLE_ACCOUNT_PASSWORD=LZ.@UMI.54321