DATABASE_URL=postgresql://meetingbot:supersecret@postgres:5432/meetingbotpoc
ASSEMBLYAI_API_KEY=56571c723cba478281adf98758646664
GOOGLE_ACCOUNT_USER=onixai.bot@gmail.com
GOOGLE_ACCOUNT_PASSWORD=LZ.@UMI.54321
